[Unit]
Description=Run WireGuard health monitor every hour


[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Persistent=yes


[Install]
WantedBy=timers.target
